@import "./nextra/variables.css";
@import "./nextra/code-block.css";
@import "./nextra/subheading-anchor.css";
@import "./nextra/scrollbar.css";
@import "./nextra/steps.css";
@import "./nextra/cards.css";

html {
  @apply nx-scroll-pt-5;
}

body {
  @apply nx-px-4;
}

main {
  @apply nx-mx-auto nx-block nx-pt-20 nx-pb-32;
}

article img {
  @apply nx-mx-auto;
}

h1 {
  letter-spacing: -0.03em;
}

p {
  white-space: pre-wrap;
}

.nx-prose p {
  @apply nx-my-1;
}

.nx-prose code {
  &:before,
  &:after {
    @apply nx-hidden;
  }
  .line {
    @apply nx-font-normal;
  }
}

.nx-prose .nextra-callout p {
  @apply nx-m-0;
}

.footnotes a[data-footnote-backref] {
  font-family: initial;
}
